
@font-face {
  font-family: 'NeoSansStd-Medium';
  src:  url('fonts/NeoSansStd-Medium.eot?#iefix') format('embedded-opentype'),  
        url('fonts/NeoSansStd-Medium.otf')  format('opentype'),
        url('fonts/NeoSansStd-Medium.woff') format('woff'), 
        url('fonts/NeoSansStd-Medium.ttf')  format('truetype'), 
        url('fonts/NeoSansStd-Medium.svg#NeoSansStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
